{% extends 'mainapp/base.html' %}
{% block title %}AiInsure accounts{% endblock %}
{% block body %}
  <h1>AiInsure accounts list</h1>
  {% if accounts %}
  <ul>
  {% for account in accounts %}
    <li><a href="/standalone-account/{{ account.address }}">{{ account.address }}</a> : {{ account.balance }} microAlgos</li>
  {% endfor %}
  </ul>
  {% else %}
  <p>There are no AiInsure accounts.</p>
  {% endif %}
  <br>
  <a href="/create-standalone/">Create AiInsure account</a>

  <!-- ipfs file upload -->
  <div class="ipfs-form">
       <h3>Upload files to IPFS</h3>
       <input type="file" id="upload">
       <div id="link"></div>
  </div>

  <!-- JS for ipfs file upload -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <script src="https://unpkg.com/ipfs-http-client@30.1.3/dist/index.js"></script>
  <script src="https://bundle.run/buffer@5.2.1"></script>
  <script>
        const ipfs = window.IpfsHttpClient('ipfs.infura.io', '5001', { protocol: 'https' });

        $("#upload").on("change", function() {
            var reader = new FileReader();
            reader.onload = function (e) {

                const magic_array_buffer_converted_to_buffer = buffer.Buffer(reader.result);
                ipfs.add(magic_array_buffer_converted_to_buffer, (err, result) => {
                    console.log(err, result);

              let ipfsLink = "<a href='https://gateway.ipfs.io/ipfs/" + result[0].hash + "'>gateway.ipfs.io/ipfs/" + result[0].hash + "</a>";
              document.getElementById("link").innerHTML = ipfsLink;

                })
            }
            reader.readAsArrayBuffer(this.files[0]);
        })
  </script>
{% endblock %}
